.main-container {
  background-color: hsl(0, 0%, 95%);
}

.preview-card-wrapper {
  display: flex;
  margin: 100px;
  margin-left: 300px;
}

.sedans-container {
  background-color: hsl(31, 77%, 52%);
  width: 210px;
  height: fit-content;
  font-size: 15px;
  border-radius: 10px 0px 0px 10px;
  padding: 45px;
}

.suvs-container {
  background-color: hsl(184, 100%, 22%);
  width: 210px;
  height: fit-content;
  font-size: 15px;
  padding: 45px;
}

.luxury-container {
  background-color: hsl(179, 100%, 13%);
  width: 210px;
  height: fit-content;
  font-size: 15px;
  border-radius: 0px 10px 10px 0px;
  padding: 45px;
}

h1 {
  color: hsl(0, 0%, 95%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 23px;
  margin-top: 20px;
}
button {
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 10px;
  color: hsl(0, 0%, 95%);
  outline: none;
  border: 2px solid hsl(0, 0%, 95%);
  cursor: pointer;
  margin-top: 4rem;
}
